html,body{
  height: 100%;
  overflow: hidden;
}
#add-person {
  margin-left: 55px;
}
#add-mask {
  position: fixed;
  width: 500px;
  height: 440px;
  background: #D5EFFE;
  left: 50%;
  top: 50%;
  margin-left: -350px;
  margin-top: -220px;
  display: none;
}
.w-input {
  margin-top: 30px;
  margin-left: 80px;
}
#add-button-wrap {
  margin-top: 50px;
  padding-left: 300px;
}
#add-cancel {
  margin-left: 30px;
}

#delete-mask {
  font-size: 25px;
  position: fixed;
  width: 500px;
  height: 440px;
  background: #D5EFFE;
  left: 50%;
  top: 50%;
  margin-left: -350px;
  margin-top: -220px;
  display: none;
}
#delete-mask > p {
  margin-top: 120px;
  margin-left: 150px;
}
#delete-button-wrap {
  padding-left: 150px;
  margin-top: 50px;
}
#delete-cancel {
  margin-left: 100px;
}


#modify-mask {
  position: fixed;
  width: 500px;
  height: 440px;
  background: #D5EFFE;
  left: 50%;
  top: 50%;
  margin-left: -350px;
  margin-top: -220px;
  display: none;
}

#modify-button-wrap {
  margin-top: 50px;
  padding-left: 300px;
}
#modify-cancel {
  margin-left: 30px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  padding: 20px;
  line-height: 3.428571
}
.pagination {
  width: 400px;
  height: 60px;
  margin-left: 340px;
}

.pagination>li>a, .pagination>li>span {
  padding: 18px 24px;
  font-size: 14px;
}

#oPagination {
  position: fixed;
  top: 550px;
}
